#date,#time{
	padding: 10px; 
	background-color: white;
    border-radius: 10px;
     margin-top: 15px;
     color: black;
     margin-left: 2%;
}

#Login_as #Judul{
	text-align: center;
	margin-top: 10%;

}

#Layanan #Judul{
	text-align: center; margin-top: 2%; margin-bottom: 5%;
}
.Login a {
	background-color:white;
	padding: 15px;
	border-radius: 20px;
	margin-left: 12%;
	text-align: center;
	color: black;
	font-size: 25px;
	text-decoration: none;
	margin-bottom: 5%;
}

.Login a:hover {
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	 transition-duration: 0.5s;
	 color: white;
	 text-decoration: none;
}
.Login  #user:hover {
	background-color: #3ce819;
}
.Login #admin:hover {
	background-color: #12a8bb;
}
.Login #manager:hover {
	background-color: #d3e818;
}

#Layanan .card-body{
	text-align: center; border-top: 1px solid grey;
}

#Layanan .card img{
	height: auto;
  width: 60%;
  margin: 2% 2% 2% 18%;
}

#Layanan .btn{
width: 50%; height: auto;
}